*.tlog
*.obj
*.sdf
*.exe
*.ilk
*.pdb
*.mkf
*.idb
*.dbf
*.o
*.suo
*.keyval
*.keyvalue
*.pch
*.log
*.7z
*.ledb
*.aps
*.ipch
*.opensdf
/ipch/
*.rar
*.zip
*.smali
*.xz
*.xyz
*.mp4
*.mp3
*.rmvb
*.mov
*.avi
*.wmv
*.flv
*.class
*.~$lock
*.dll
*.exe
*.lib
*bug1*
*.mdf
*.lDF

